
<%= turbo_stream_from @post%>
<p style="color: green"><%= notice %></p>

<%= render @post %>
<%= render 'cars/car', car: @post.car %>
<%= render "posts/comments", post: @post%>

<div class= "button-container">
  <% if current_user&.admin? %>
    <%= link_to "Edit this post", edit_post_path(@post), class: "button link-button" %> |
  <% end%>
  <%= link_to "Back to posts", posts_path, class: "button link-button" %>
  <% if current_user&.admin? %>
  
    <%= button_to "Destroy this post", @post, method: :delete , class: "button link-button"%>
  <% end%>
</div>
