<% if car.present? %>
  <div class="cool-text car-card">
    <h2 >Details</h2>
    <ul >
      <li >Make: <%= car.make %></li>
      <li>Price: <%= number_to_currency(car.price) %></li>
      <li>VIN: <%= car.vin %></li>
      <li>Description: <%= car.description %></li>
      <li>Year: <%= car.year %></li>
      <li>Date Arrived: <%= car.date_arrived %></li>
      <% if car.date_sold.present? %>
        <li>Date Sold:<%= car.date_sold %></li>
      <% else %>
        <li><strong>Status:</strong> Unsold</li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>No car is associated with this post.</p>
<% end %>